:root {
    --primary-blue-dark: #236D9E;
    --primary-blue: #88CBFF;
    --primary-blue-light: #D9F0FE;
    --primary-green: #00A634;

    --basic-black: #000000;
    --basic-dark: #CCD4DA;
    --basic-white: #FFFFFF;
    --second-dark-gray: #373737;
}

.page {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Droid Sans Bold font', sans-serif;;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 300;
    background-color: var(--basic-white);
}

h1, h2, h3 {
    margin: 10px 5px;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--primary-blue-dark);
}

a:hover,
a:focus {
    color: var(--primary-green);
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    max-width: 1160px;
    padding: 0px 20px;

    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 100%;
    font-size: 16px;
    font-family: 'Droid Sans Bold font', sans-serif;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: var(--basic-white);
    border: solid 3px var(--primary-green);
    border-radius: 3px;
    background-color: var(--primary-green);

    margin: 10px 0px;
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-green);
    color: var(--second-dark-gray);
    border: solid 3px;
    border-color: var(--primary-green);
}

.btn-for-a {
    display: block;
    text-align: center;
    width: 15em;
}

.changeable-text {
    color: var(--primary-green);
}

/*TIMER*/
.timer-container {
    margin: 20px;
    background-color: var(--primary-green);
    width: 17em;
    padding: 10px;
    text-align: center;
    color: var(--basic-black);
    border: solid 3px var(--primary-green);
    border-radius: 3px;
}

.timer-content {
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 500;
}

.input-timer {
    width: 35px;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 500;
    background-color: transparent;
    border: 0px solid;
}

/*PERCENTAGE COMPLETION*/
.percentage-completion-container {
    margin: 20px;
    background-color: var(--primary-green);
    width: 17em;
    padding: 10px;
    text-align: center;
    color: var(--basic-white);
    border: solid 3px var(--primary-green);
    border-radius: 3px;
}

.percentage-completion {
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-weight: 500;
}